/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  html {
      text-align: center;
      font-family: arial;
  }

  a {
    text-decoration: none;
    color:grey;
  }

  label {
    display: block;
    margin-bottom:0.8em;
    margin-top:3em;
    text-decoration: underline;
    text-transform: uppercase;
    font-size:1.5em;
  }
  #btn {
    background-color: #eee;
    padding: 7px 10px;
    border-radius: 5px;
  }

  .htr, #ask{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 2px 2px #eee;
  }

  .htr:hover {
    box-shadow: 5px 4px 4px #eee;
  }

  h2 {

  }
